{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="profiles-update" style="width: 60%; margin:auto">
  <header class="page-header d-flex">
    <h3 class="page-heading">Обновить профиль</h3>
  </header>
  <hr>
  <div class="profile-update-form">
    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="mt-3 btn btn-success btn-block py-3">Обновить профиль</button>
    </form>
  </div>
</div>
{% endblock content %}
