{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="profiles-create" style="width: 60%; margin:auto">
  <header class="page-header d-flex justify-content-between">
    <h3 class="page-heading">Создать профиль</h3>
  </header>
  <hr>
  {% if profile %}
  <p class="lead">У вас уже есть профиль</p>
  <a href="{% url 'profiles:profiles-detail' id=profile.pk %}" class="btn btn-lg btn-primary">Проверить мой профиль</a>
  {% else %}
  <div class="profile-create-form">
    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success btn-lg">СОЗДАТЬ ПРОФИЛЬ</button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock content %}
