{% extends 'base.html' %}

{% block content %}
<div class="post-list">
  <h3 class="page-heading">О нас</h3>
  <hr>
  <p>Финансовая академия создана на основании решения Совета директоров АО «Центр подготовки, переподготовки и повышения квалификации специалистов органов финансовой системы» (далее – «Центр») Министерства финансов Республики Казахстан от 09.06.2009 г. и приказа Президента «Центра» №63/п от 10.06.2009 г. на базе Акционерного общества «Акмолинский финансово-экономический колледж» (далее - АО «АФЭК»).

Целью создания Финансовой академии явилась подготовка на уровне международных стандартов и требований квалифицированных специалистов в области финансов, бухгалтерского учета и аудита, экономики, менеджмента и информационных систем с глубокими знаниями и компетенцией, способных адекватно реагировать на быстро меняющиеся реалии жизни, владеющих международным стандартом финансовой отчетности (МСФО) и международным стандартом аудита (МСА), конкурентоспособных на международном и республиканском рынках труда.

1965 год – Сдан в эксплуатацию типовой учебно-лабораторный корпус, где 1 сентября за парты село первые 450 учащихся.

1967 год – Осуществлен первый выпуск специалистов со средним  профессиональным образованием.

1969 год – Введено в эксплуатацию общежитие на 630 мест.

1975 год – Постановлением Совета Министров СССР от 16.05.1975 года №1174 техникум Министерства финансов Казахской ССР передан в Министерство финансов СССР.

1995 год - Приказом Министерства финансов Республики Казахстан от 08.09.1995 года №229 техникум преобразован в Акмолинский финансово-экономический колледж («АФЭК»).

1999 год - Постановлением Правительства Республики Казахстан от 11.01.1999 года №20 АФЭК был преобразован в Республиканское государственное казенное предприятие «Акмолинский финансово-экономический колледж» ( РГКП «АФЭК»).

2001 год - АФЭК стал победителем Республиканского конкурса «Лучший колледж 2001 года». 
2002-2008 годы – На базе РГКП «АФЭК» создано Республиканское учебно-методическое объединение (РУМО) по экономическим специальностям технического и профессионального образования.

2005 год - Колледж прошел государственную аттестацию на основании приказа Комитета по надзору и аттестации в сфере образования и науки МОН РК № 448 от 02.02.2005 года.

2006 год - В колледже проведен сертификационный аудит системы менеджмента качества (СМК), в результате которого получены сертификаты в области оказания образовательных услуг по направлениям технического и профессионального, послесреднего образования сербского сертификационного органа «EVROCERT», австрийского сертификационного органа «ОQS», международного сертификационного органа «IQNet» и казахстанского сертификационного органа «EUROASIA MS».

2007 год - В соответствии с Постановлением Правительства Республики Казахстан от 24.07.2007 года № 624 РГКП «АФЭК» Министерства образования и науки Республики Казахстан путем преобразования было реорганизовано в АО «Центр подготовки, переподготовки и повышения квалификации специалистов органов финансовой системы». В последующем на основании приказа Министерства финансов Республики Казахстан от 28.12.2007 года №490  была создана дочерняя организация АО «Центр подготовки, переподготовки и повышения квалификации специалистов органов финансовой системы» АО «Акмолинский финансово–экономический колледж».

2008 год - С 15 по 17 мая 2008 года в соответствии с приказом Комитета по контролю в сфере образования и науки МОН РК № 599 от 05.05.2008 года колледж прошел проверку на соблюдение законодательства Республики об образовании и правил лицензирования образовательной деятельности.

2009 год - создана Финансовая академия -специализированный вуз при Министерстве Финансов Республики Казахстан.

2013 год - Постановлением Правительства Республики Казахстан от 27 августа 2013 года № 867 «О некоторых вопросах Министерства Финансов Республики Казахстан» Акционерное общество «Центр подготовки, переподготовки и повышения квалификации специалистов органов финансовой системы» Финансовая академия реорганизовано путем слияния в  Финансовую академию со стопроцентным участием государства в уставном капитале.</p>
</div>
{% endblock content %}
