{% extends 'base.html' %}

{% block content %}
<div class="post-list">
  <h3 class="page-heading">О нас</h3>
  <hr>
  <h4 class="page-heading"> Я создал эту программу для общение между пользователями и просмотра их постов и новостей </h4>
  <p>Социальные сети являются мощным инструментом маркетинговых исследований, поскольку пользователи добровольно публикуют информацию о себе, своих взглядах, интересах, предпочтениях и так далее. Ввиду этого рекламодатели могут весьма чётко определять, каких именно пользователей заинтересует их объявление, и направить свои рекламные объявления конкретным пользователям, в зависимости от информации в их профилях (возраст, пол, место жительства и прочее). Такой тип рекламы получил название таргетированной (англ. «Target» — цель).

   <p>Объём рынка рекламы в социальных сетях неуклонно растёт. 
     В 2007 году, по оценкам аналитической компании eMarketer, он достиг отметки в 1,225 млрд долларов. 
     При составлении отчёта экспертами eMarketer учитывались все виды рекламы, размещённой в социальных сетях, включая медийную, контекстную, аудио и видеорекламу, а также затраты на маркетинговые проекты, в которых маркетологи создают профили для своих товаров и брендов в социальных сетях. Кроме того, в прогнозах впервые учитываются расходы на создание виджетов и приложений. 
     В 2011 году доходы социальных сетей от рекламы превысили 5 миллиардов долларов</p>
    
    Используя рекламу в социальных сетях, можно работать с группами пользователей, объединённых по таким параметрам, как:
    
    интересы;
    возраст;
    география;
    пол;
    социальное положение;
    уровень дохода;
    марка используемого мобильного устройства (Apple, Samsung)
    и т. п.
    Другим способом привлечения клиентов через социальные сети является создание компаниями сообществ в социальных сетях. Такие сообщества позволяют доносить новую информацию до пользователей, которых вероятнее всего заинтересует продукция или услуги компании.
    
    Социальные сети могут использоваться не только в качестве инструментов связей с общественностью и прямого маркетинга, но и в качестве каналов связи, предназначенных для очень специфической аудитории с влиятельными лицами в социальных сетях и личностями социальных сетей, а также в качестве эффективных инструментов привлечения клиентов.</p>
</div>
{% endblock content %}
