{% extends "base.html" %}

{% block content %}
<div class="experience-list">
  <header class="page-header d-flex">
    <h3 class="page-heading">Опыт {{exp.pk}}</h3>
    {% if user.is_authenticated and exp.profile == user.profile %}
    <div class="btn-group" style="display: grid;">
      <a href="{{exp.get_update_url}}" class="btn btn-success" style="margin-bottom: 10px;">Редактировать опыт</a>
      <a href="{{exp.get_delete_url}}" class="btn btn-danger">Удалить опыт</a>
    </div>
    {% endif %}
  </header>
  <hr>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Компания</strong>
      <span class="float-right">{{exp.company}}</span>
    </li>
    <li class="list-group-item">
      <strong>Профессия</strong>
      <span class="float-right">{{exp.profession}}</span>
    </li>
    <li class="list-group-item">
      <strong>Началось в</strong>
      <span class="float-right">{{exp.started_at}}</span>
    </li>
    {% if exp.is_currently_working %}
    <li class="list-group-item">
      <strong>Текущий статус</strong>
      <span class="float-right">Еще работает</span>
    </li>
    {% else %}
    <li class="list-group-item">
      <strong>Завершено в</strong>
      <span class="float-right">{{exp.ended_at}}</span>
    </li>
    {% endif %}
    <li class="list-group-item">
      <p class="text-center lead text-muted">{{exp.created_at}}</p>
    </li>
  </ul>
</div>
{% endblock content %}
